# Database
DATABASE_URL="postgresql://user:password@localhost:5432/fantasy_formula?schema=public"

# NextAuth
NEXTAUTH_SECRET="your-secret-key-here-generate-with-openssl-rand-base64-32"
NEXTAUTH_URL="http://localhost:3000"

# Admin
ADMIN_SECRET_KEY="your-admin-secret-key-here-for-race-results"

# Node Environment
NODE_ENV="development"

